body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-style: 20px;
    font-weight: 700px;
    color: white;
    padding: 15px 35px;
    

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
.header{
    background-color: #FFF8F3;;
    
}
.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;

}
.profile-picture{
    width: 500px;
}